CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
OAUTH_ENDPOINT=https://oauth2.quran.foundation
DEFAULT_TAFSIR_ID=16

NEXT_PUBLIC_SITE_URL=https://your-app-name.azurewebsites.net
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
